

# Python 3.11
# Conda supports specification of python version in a yaml file but not using to avoid potential commercial agreement issues (even though we could probably just avoid using the default channel)
# Ideally I would have enquired with the team before using deciding on pip/conda/uv, in a formal business project.
pandas==2.3.1